
@using lab11.ViewModels;
@model CalcViewModel;


<head>
    <link rel="stylesheet" href="~/css/stylesCalc.css" />
</head>
<body>
    <main class="main">
        <div class="title">
            Model Calc
        </div>
        
        @{
            var firstVal = Model.firstValue;
            var secondVal = Model.secondValue;
        }
        <div class="valContainer">
            <p class="valContainer_val">
                Rand value first: <span class="fw-bold">@firstVal</span>
            </p>
            <p class="valContainer_val">
                Rand value second:  <span class="fw-bold">@secondVal</span>
            </p>
        </div>
        <div class="operationsContainer">
            <div class="operationsContainer_oper">
                <p class="fw-bold">Add:</p>
                @firstVal + @secondVal = @Model.additionResult
            </div>
            <div class="operationsContainer_oper">
                <p class="fw-bold">Sub:</p>
                @firstVal - @secondVal = @Model.subtractionResult
            </div>
            <div class="operationsContainer_oper">
                <p class="fw-bold">Div:</p>
                @firstVal / @secondVal = @Model.divisionResult
            </div>
            <div class="operationsContainer_oper">
                <p class="fw-bold">Mult:</p>
                @firstVal * @secondVal = @Model.multiplicationResult
            </div>
        </div>
    </main>
</body>



